# Flutter / React Native common ignore

# build folders
build/
dist/

# flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# android
android/.gradle
android/build

# ios
ios/Pods
ios/build

# node
node_modules

# macOS
.DS_Store
